<div class="main chat">
    <div class="container">
        <div>チャット名:
            <%= @chat_room.name %>
        </div>
        <div class="flex">
            <div class="select-users">
                <div>参加ユーザー</div>
                <%= form_with url: chat_room_user_path(@chat_room), method: :delete do |form| %>
                    <% @joined_users.each do |user| %>
                        <div>
                            <%= image_tag "/user_images/#{user.image_name}" %>
                            <%= form.label :"#{user.name}" %>
                            <%= form.check_box :'user_ids[]', {}, user.id, nil %>
                        </div>
                    <% end %>
                    <%= form.submit :"チャット退会"%>
                <% end %>
            </div>
            <div class="select-users">
                <div>新規ユーザー</div>
                <%= form_with url: chat_room_users_path do |form| %>
                    <% @no_joined_users.each do |user| %>
                        <div>
                            <%= image_tag "/user_images/#{user.image_name}" %>
                            <%= form.label :"#{user.name}" %>
                            <%= form.check_box :'user_ids[]', {}, user.id, nil %>
                        </div>
                        <%= form.hidden_field :id, :value => @chat_room.id %>
                    <% end %>
                    <%= form.submit :"チャット参加"%>
                <% end %>
            </div>
        </div>
    </div>
</div>