<div class="main chat">
    <div class="container">
        <div>
            <%= form_with url: chat_room_path(@chat_room), method: :PATCH do |form| %>
                <%= form.label :"チャット名:" %>
                <%= form.text_field :chat_room_name, :value => @chat_room.name %>
                <%= form.submit %>
            <% end %>
        </div>
        <div>参加ユーザー:
            <% @users.each do |user| %>
                <%= link_to user.name, user %>
            <% end %>
        </div>
        <div class="chat-room">
            <div class="messages">
                <% @messages.each do |message| %>
                    <% if message.user_id == @current_user.id %>
                        <div class="current-user message">
                            <div class="message-user">
                                <%= image_tag "/user_images/#{message.user.image_name}" %>
                                <%= message.user.name %>
                            </div>
                            <p><%= message.content %></p>
                        </div>
                    <% else %>
                        <div class="other-user message">
                            <p><%= message.content %></p>
                            <div class="message-user">
                                <%= image_tag "/user_images/#{message.user.image_name}" %>
                                <%= message.user.name %>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>