<div id="<%= dom_id user %>" class="user-item">
  <%= link_to user do %>
    <%= image_tag "/user_images/#{user.image_name}" %>
  <% end %>
  <h2><%= link_to user.name, user %></h2>
  <%= relationship_button(user) %>
</div>
