<div class="main chats-index">
    <div class="container">
        <div>
            <h2>チャット一覧<h2>
            <%= button_to "新規チャット", new_chat_room_path, method: :get%>
        </div>
        <ul>
            <% @chat_rooms.each do |chat_room| %>
                <li>
                    <% if chat_room.private_flag %>
                        <% user = chat_room_name(chat_room) %>
                        <%= image_tag "/user_images/#{user.image_name}" %>
                        <h2><a><%= link_to user.name, chat_room %></a></h2>
                    <% else %>
                        <%= image_tag "/chat_room_images/#{chat_room.image_name}" %>
                        <h2><%= link_to chat_room_name(chat_room), chat_room %><h2>
                    <% end %>
                </li>
            <% end %>
        </ul>
    </div>
</div>