<div class="main chat">
    <div class="container">
        <h2>新規チャット作成</h2>
        <%= form_with url:chat_rooms_path do |form| %>
            <%= form.label :"チャット名" %>
            <%= form.text_field :name %>
            <% @users.each do |user| %>
                <div>
                    <%= image_tag "/user_images/#{user.image_name}" %>
                    <%= form.label :"#{user.name}" %>
                    <%= form.check_box :'user_ids[]', {}, user.id, nil %>
                </div>
            <% end %>
            <%= form.submit :value => "チャットルーム作成" %>
        <% end %>
    </div>
</div>