
<div class="main chat">
    <div class="container">
        <div class="chat-room">
            <div class="chat-top">
                <% if @chat_room.private_flag %>
                    <% chat_user = @chat_room.users.where.not(id: @current_user.id)[0] %>
                    <%= image_tag "/user_images/#{chat_user.image_name}" %>
                    <%= chat_user.name %>
                <% else %>
                    <div>
                        <%= image_tag "/chat_room_images/#{@chat_room.image_name}" %>
                        <%= chat_room_name(@chat_room) %>
                        <%= link_to "編集", edit_chat_room_path(@chat_room) %>
                    </div>
                    <div class="chat-tabs flex">
                        <p>参加ユーザー</p>
                        <div class="join-users flex">
                            <% @users.each do |user| %>
                                <%= link_to user do %>
                                    <div class="message-user">
                                        <%= image_tag "/user_images/#{user.image_name}" %>
                                        <%= user.name %>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>
                        <p><%= link_to "編集", edit_chat_room_user_path(@chat_room) %></p>
                    </div>
                <% end %>
            </div>
            <div class="messages">
                <% @messages.each do |message| %>
                    <% if message.user_id == @current_user.id %>
                        <div class="current-user message">
                            <%= link_to message.user do %>
                                <div class="message-user">
                                    <%= image_tag "/user_images/#{message.user.image_name}" %>
                                    <div class="message-user-name"><%= message.user.name %></div>
                                </div>
                            <% end %>
                            <p><%= message.content %></p>
                        </div>
                    <% else %>
                        <div class="other-user message">
                            <p><%= message.content %></p>
                            <%= link_to message.user do %>
                                <div class="message-user">
                                    <%= image_tag "/user_images/#{message.user.image_name}" %>
                                    <div class="message-user-name"><%= message.user.name %></div>
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                <% end %>
            </div>
            <%= form_with url: messages_path, :class => "message-form" do |form| %>
                <%= form.label :"新規メッセージ" %>
                <%= form.text_area :content %>
                <%= form.hidden_field :id, :value => @chat_room.id %>
                <%= form.submit "送信", :class => "submit"%>
            <% end %>
        </div>
    </div>
</div>

