
<%= form_with(model: post) do |form| %>
  <% if @post.errors.any? %>
      <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
  
      <ul>
          <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
          <% end %>
      </ul>
      </div>
  <% end %>
  <div class="posts-index">
      <div class="post-left">
          <%= image_tag "/user_images/#{@current_user.image_name}" %>
      </div>
      <div class="post-right">
          <div class="post-right-top">
              <a><%= @current_user.name %></a>
            <div class="submit">
                <%= form.submit :value => @submit%>
            </div>
          </div>
          <div>
              <%= form.text_area :content %>
              <%= form.hidden_field :user_id, :value => @current_user.id %>
          </div>
          <div class="post-bottom" >
              <div class="post-like">
                  <a><i class="fa-solid fa-thumbs-up" style="color: #a8b3c7;"></i></a>
                  <%= 0 %>
              </div>
          </div>
      </div>     
  </div>
<% end %>
</div>
