<div id="<%= dom_id post %>">
  <div class="posts-index">
    <% user = post.user %>
    <div class="post-left">
      <%= link_to user do %>
        <%= image_tag "/user_images/#{user.image_name}" %>
      <% end %>
    </div>
    <div class="post-right">
      <div class="post-user-name">
        <%= link_to user.name, user %>
      </div>
      <p><%= link_to post.content, post %></p>
      <div class="post-bottom" >
        <div class="post-time">
          <%= post.created_at %>
        </div>
        <div class="post-like">
          <% if @current_user.id == post.user_id %>
            <i class="fa-solid fa-thumbs-up" style="color: #a8b3c7;"></i>
          <% else %>
            <% if @current_user.like?(post) %>
              <%= link_to like_path(post), data: { "turbo-method": :delete } do %>
                <i class="fa-solid fa-thumbs-up" ></i>
              <% end %>
            <% else %>
              <%= link_to likes_path(post), data: { "turbo-method": :post } do %>
                <i class="fa-solid fa-thumbs-up" style="color: #a8b3c7;"></i>
              <% end %>
            <% end %>
          <% end %>
          <%= post.likes.count %>
        </div>
      </div>
    </div>
  </div>
</div>
